/************************************
      (variables) COLORS
***********************************/

@transparent: transparent;
@white: #ffffff;
@black: #111b0a;
@main-green: #00c86b;
@dark-green: #00733e;
@main-orange: #ee760c;
@main-red: #eb5151;
@main-blue: #3fa4d7;
@light-lilac: #c9cedf;
@medium-lilac: #9ea7c6;
@dark-lilac: #686e85;
@darkest-lilac: #1e1f26;
@bg-light: #f6f6f6;
@bg-lilac-light: #e9ebf;

// corpotatives
@android: #a4c639;
@ios: #8e8e93;


/************************************
      (mixins) COMMON
***********************************/

// common TRANSITION animation by default
.anim(@type, @time, @anim) {
  -webkit-transition: @type @time @anim;
  -moz-transition: @type @time @anim;
  -o-transition: @type @time @anim;
  transition: @type @time @anim;
}

// to Center Block just in the middle
.full-center-block(@position: 50%, @translate: -50%) {
  position: absolute;
  left: @position;
  top: @position;
  -webkit-transform: translate(@translate, @translate);
  transform: translate(@translate, @translate);
  z-index: 1;
}

// Apply border radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// main Text mixin with default values
.main-text(@size: 15px, @weight: 400) {
  font-family: "Lato", sans-serif;
  font-size: @size;
  letter-spacing: .02em;
  font-weight: @weight;
}

// common TRANSITION animation by default (mixin)
.scale(@scale) {
  -webkit-transform: scale(@scale);
  -moz-transform: scale(@scale);
  -ms-transform: scale(@scale);
  -o-transform: scale(@scale);
  transform: scale(@scale);
}


/************************************
      (common) GENERAL
***********************************/

// Text Selected Color
::selection {
  background: @main-green;
  color: @white;
}

::-moz-selection {
  background: @main-green;
  color: @white;
}

// to customize default -webkit-browsers SCROLL BAR
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: @bg-lilac-light;
}
::-webkit-scrollbar-thumb {
  background: @medium-lilac;
  cursor: pointer;
  border-radius: 5px;
}


/************************************
      (core) STYLES
***********************************/

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: @bg-lilac-light;
}

.form-narrow {
  max-width: 490px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: @white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.margin-bottom-1em {
  margin-bottom: 1em;
}

.margin-top-1em {
  margin-top: 1em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.center {
  text-align: center;
}

.warning {
  border-color: yellow;
}

h1 {
  margin-bottom: 25px;
}


/************************************
      to overwrite BOOSTRAP values
***********************************/

// common LINK
a {
  color: @main-green;
  &:hover, &:focus {
    color: darken(@main-green, 5%);
  }
}

// TABLES
.table-hover > tbody > tr.publish-collapside-open:hover > td,
.table-hover > tbody > tr.publish-collapside-open:hover > th {
  background-color: transparent;
}

// PAGINATION
.pagination > .active > span,
.pagination > .active > span:hover {
  background-color: @main-green;
  border-color: @main-green;
}

// FORMS (admin, signin, login...)
.form-narrow {
  min-width: 300px;
}


/************************************
      (common) General
***********************************/

// google Fonts (LATO)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.general {
  .alert {
    margin-top: 80px;
  }
}

// (main) Content Wrapper just below Header and Above Footer
.main-content-wrapper {
  flex: 1 0 auto;
  background-color: @bg-lilac-light;
}

.main-content-wrapper-full-width {
  width: 100%;
  flex: 1 0 auto;
  background-color: @bg-lilac-light;
}

// Buttons
.btn {
  min-width: 140px;

  &.select-file-btn {
    margin: 10px 0;
  }

  &.save-btn,
  &.delete-btn {
    min-width: 150px;
  }
}


/************************************
      HEADER
***********************************/

.navbar-inverse {
  background-color: @darkest-lilac;

  .navbar-header {
    position: relative;
  }

  .navbar-brand {
    height: 75px;
    width: 75px;
    background: transparent url("../images/fenix-logo.svg") no-repeat center center;
    position: absolute;
    top: 2px;
    .anim(all, 150ms, ease);

    &:hover {
      .scale(0.85);
    }
  }

  .navbar-nav {
    padding-left: 40px;
  }

  .navbar-nav > li > a {
    .main-text(14px, 600);
    color: @light-lilac;
    .anim(all, 150ms, ease);

    &:hover, &:focus, &:active {
      color: @main-green;
    }
  }
}


/************************************
      FOOTER
***********************************/

footer {
  width: 100%;
  background-color: @darkest-lilac;

  .container {
    padding: 20px 0;
  }

  span {
    .main-text(12px, 400);
    color: @white;

    &:first-child {
      font-size: 14px;
      color: @main-green;
    }

    &.dot {
      .main-text(20px, 600);
      color: @medium-lilac;
      position: relative;
      bottom: 2px;
      left: 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    span {
      display: block;
      text-align: center;
      &.dot {
        display: none;
      }
    }
  }
}


/************************************
      HOME (view)
***********************************/

.home {
  h1 {
    margin: 50px 0;
  }
}

.logo-container {
  width: 100%;

  .upp-fenix-logo {
    width: 300px;
    height: 84px;
    background: transparent url("../images/upp_fenix-crm_logo.svg") no-repeat center center;
    margin: 0 auto;
  }

  .upp-rocket-with-rider {
    height: 300px;
    width: 234px;
    background: transparent url("../images/upp-rocket-with-rider.svg") no-repeat center center;
    margin: 50px auto;
    .anim(all, 150ms, ease);

    &:hover {
      .scale(0.85);
    }
  }
}


/************************************
      PUBLISH REQUEST (view)
***********************************/

// (collapside open) PUBLISH FORM
.app-main-form {
  padding: 15px;

  .form-group {
    min-height: 60px;
  }

  .select-file-btn {
    margin: 10px 0;
  }

  // all (form) columns
  .publish-col {
    padding: 15px;
    background-color: @white;

    &.publish-col-ios {
      background-color: ghostwhite;
    }
    &.publish-col-android {
      background-color: honeydew;
    }

    // markets titles
    h3 {
      text-align: center;
      margin-bottom: 15px;
    }

    // for each screenshot
    .screenshot-block {
      margin-bottom: 15px;
    }
  }

  //
  .publish-all-form-in-markets {
    //.full-center-block(50%, -50%);
  }
}


// each Upload, View or Delete Screenshot (Mobile & Tablet)
.screenshot-block {
  margin-bottom: 25px;
  padding: 15px;
  .border-radius(8px);
  border: 1px dashed @medium-lilac;

  b {
    display: block;
    margin-bottom: 10px;
    color: @dark-lilac;
  }

  .btn-info {
    margin: 10px 0;
    max-width: 140px;
  }
}


// PUBLISH BTNS
.publish-android-btn,
.publish-ios-btn {
  border-color: @transparent;
}

.publish-android-btn {
  background-color: @android;
  &:hover {
    background-color: darken(@android, 8%);
    border-color: @android;
  }
}

.publish-ios-btn {
  background-color: @ios;
  &:hover {
    background-color: darken(@ios, 8%);
    border-color: @ios;
  }
}