<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fenix CRM - Market Requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
    <style>
        .hiddenRow {
            padding: 0 !important;
            height: 0 !important;
        }
    </style>
</head>
<body class="markets">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- MARKETS REQUEST main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">Market requests <small>to publish Apps</small></h1>


        <form class="form-narrow form-horizontal" action="/market/requests" method="get" th:action="@{/market/requests}">
            <fieldset>
                <legend>Search</legend>

                <div class="form-group">
                    <label for="childupp" class="col-lg-2 control-label">ChildUpp</label>
                    <div class="col-lg-10">
                        <input type="text"
                               class="form-control"
                               id="childupp"
                               th:value="${childUppId}"
                               placeholder="ChildUpp ID"
                               name="childUppId"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:if="${#lists.isEmpty(page.content)}" class="alert alert-warning">
            Results not found
        </div>

        <table th:unless="${#lists.isEmpty(page.content)}" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    <a th:href="@{${page.url}(page=${page.number},sort=(${page.sort?.getOrderFor('requestDate')?.ascending} ? 'requestDate,desc' : 'requestDate,asc'),size=${page.size},childUppId=${childUppId})}">
                        Date
                    </a>
                </th>
                <th>ChildUpp ID</th>
                <th>Name</th>
                <th>TYPE</th>
                <th>APK</th>
                <th>IPA</th>
                <th>iOS Publish Status</th>
                <th>Android Publish Status</th>
                <th>Delete Date</th>
                <th>Publish Info</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="result : ${page.content}">
                <tr>
                    <td th:text="${#calendars.format(result.date,'dd/MM/yyyy')}">13/01/2011</td>
                    <td th:text="${result.childUppId}">1337</td>
                    <td th:text="${result.childUppName}">Madrid Skate</td>
                    <td th:text="${result.organizationName}">Upplication</td>
                    <td><a href="http://apk.upplication.io/1337.apk" th:href="${result.apkUrl}"
                           th:text="${result.androidVersion}">1</a></td>
                    <td><a href="http://ipa.upplication.io/1337.ipa" th:href="${result.ipaUrl}"
                           th:text="${result.iosVersion}">1</a></td>
                    <td th:text="${result.info.iosStatus}">NEW</td>
                    <td th:text="${result.info.androidStatus}">NEW</td>
                    <td th:if="${result.info.deleteDate}" th:id="'delete-date_' + ${result.id}" th:text="${#calendars.format(result.info.deleteDate,'yyyy/MM/dd hh:mm:ss')}">2011/01/13 10:00:00</td>
                    <td th:unless="${result.info.deleteDate}" th:id="'delete-date_' + ${result.id}">-</td>

                    <td><a aria-expanded="false" data-th-href="'#info' + ${result.childUppId}" data-toggle="collapse"
                           th:attr="data-target='#info' + ${result.childUppId},arial-controls='info' + ${result.childUppId}"
                           data-target="#info1337" aria-controls="info1337" class="collapsed accordion-toggle">+ Info</a>
                    </td>
                </tr>
                <tr class="publish-collapside-open">
                    <td colspan="10" class="hiddenRow">
                        <div class="panel-collapse accordian-body collapse" th:id="'info' + ${result.childUppId}"
                             id="info1337">
                            <div class="container">
                                <div class="row">
                                    <form class="app-main-form" action="" method="post" enctype="multipart/form-data">
                                        <!-- TODO add select SO checkbox -->
                                        <input type="hidden" name="os" id="app-os_1337" th:id="'app-os_' + ${result.childUppId}" value="android" />
                                        <input type="hidden" name="app" value="1337" th:value="${result.childUppId}" />
                                        <input type="hidden" name="requestId" value="1337" th:value="${result.id}" />
                                        <input type="hidden" name="androidVersion" value="1" th:value="${result.androidVersion}" />
                                        <input type="hidden" name="iosVersion" value="1" th:value="${result.iosVersion}" />
                                        <input type="hidden" name="apkUrl" value="http://apk.upplication.io/1337.apk" th:value="${result.apkUrl}" />
                                        <input type="hidden" name="ipaUrl" value="http://ipa.upplication.io/1337.ipa" th:value="${result.ipaUrl}" />

                                        <table class="table table-bordered margin-bottom-1em">
                                            <thead>
                                            <tr>
                                                <th>OS</th>
                                                <th>Date</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Android</td>
                                                <td th:if="${result.androidPublished}" data-th-text="${result.androidPublicationDate}">05-05-2015</td>
                                                <td th:unless="${result.androidPublished}">Not published</td>
                                                <td>
                                                    <a href="http://market.me/app" th:href="${result.androidMarketUrl}" th:if="${result.androidPublished}" class="btn btn-default">View app</a>
                                                    <button th:id="'btn-publish-android_' + ${result.id}" type="submit" class="btn btn-primary publish-android-btn" th:classappend="${result.info.deleteDate}? 'disabled'" value="/market/publish-android">Publish Android</button>
                                                    <div th:id="'publish-android-msg_' + ${result.id}" style="display: none;" class="alert">Publish Android</div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>iOS</td>
                                                <td th:if="${result.iosPublished}" data-th-text="${result.iosPublicationDate}">05-05-2015</td>
                                                <td th:unless="${result.iosPublished}">Not published</td>
                                                <td>
                                                    <a href="http://market.me/app" th:href="${result.iosMarketUrl}" th:if="${result.iosPublished}" class="btn btn-default">View app</a>
                                                    <button th:id="'btn-publish-ios_' + ${result.id}" type="submit" class="btn btn-primary publish-ios-btn" th:classappend="${result.info.deleteDate}? 'disabled'" value="/market/publish-ios">Publish iOS</button>
                                                    <div th:id="'publish-ios-msg_' + ${result.id}" style="display: none;" class="alert">Publish iOS</div>
                                                    <!-- todo generate logic to set this flag properly. Checked when icon or app name changes at dashboard... -->
                                                    Generate IPA version? <input type="checkbox" value="true" name="generateIpaBuild" />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- (common values) LEFT SIDE-->
                                        <div class="col-md-6 publish-col">

                                            <div class="form-group">
                                                <label>Name*</label>
                                                <p data-th-text="${result.info.name}">
                                                    Name
                                                </p>
                                                <input class="form-control" type="hidden" name="name" value="default" th:value="${result.info.name}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Description*</label>
                                                <input class="form-control" type="text" name="description" th:value="${result.info.description}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Language*</label>
                                                <div>
                                                    <p data-th-text="${result.info.language}">
                                                        Language
                                                    </p>
                                                    <input class="form-control" type="hidden" name="language" value="Spanish" th:value="${result.info.language}" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Keywords*</label>
                                                <input class="form-control" type="text" name="keywords" th:value="${result.info.keywords}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Icon</label>
                                                <input class="form-control" th:id="'icon-file_' + ${result.id}" type="text" name="icon" th:value="${result.info.icon}" />
                                                <a th:id="'icon-view-file_' + ${result.id}" href="http://icon.me" th:href="${result.info.icon}" target="_blank" class="btn btn-info btn-sm display-block">Ver Icono</a>
                                                <input th:id="'upload-icon-file_' + ${result.id}" type="file" class="select-file-btn"/>
                                                <button type="button" class="btn btn-primary upload-icon-btn" value="/market/upload-icon">Reemplazar</button>
                                            </div>

                                        </div>
                                        <!-- / left side-->

                                        <!-- (common values) RIGHT SIDE-->
                                        <div class="col-md-6 publish-col">

                                            <div class="form-group">
                                                <label>Promotional video</label>
                                                <input class="form-control" type="text" name="videoPath" th:value="${result.info.videoPath}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Version news</label>
                                                <input class="form-control" type="text" name="changes" th:value="${result.info.changes}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Support url*</label>
                                                <input class="form-control" th:if="${result.info.supportUrl == null or #strings.isEmpty(result.info.supportUrl)}" type="text" name="supportUrl" value="https://www.upplication.io" />
                                                <input class="form-control" th:if="${result.info.supportUrl != null and #strings.length(result.info.supportUrl) > 0}" type="text" name="supportUrl" th:value="${result.info.supportUrl}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Content</label>
                                                <p data-th-text="${result.info.content}">
                                                    Content
                                                </p>
                                                <input class="form-control" type="hidden" name="content" value="cartoons" th:value="${result.info.content}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Category</label>
                                                <p class="form-control-static" data-th-text="${result.info.category}">
                                                    Category
                                                </p>
                                                <input class="form-control" type="hidden" name="category" value="Spanish" th:value="${result.info.category}" />
                                            </div>

                                        </div>


                                        <div class="clearfix"></div>

                                        <!-- iOS (app store specifications) -->
                                        <div class="col-md-6 publish-col publish-col-ios">

                                            <h3>iOS <small>Apple Store</small></h3>

                                            <div class="form-group">
                                                <label>iOS Status Type</label>
                                                <select class="form-control" name="iosStatus" th:id="'ios-status_' + ${result.id}">
                                                    <option th:each="elem: ${T(es.upplication.entities.type.StatusPublishRequest).values()}"
                                                            th:value="${elem.name()}" th:text="${elem.name()}"
                                                            th:selected="${elem == result.info.iosStatus}" value="NEW">NEW</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>iOS market Url</label>
                                                <input class="form-control" type="text" name="iosMarketUrl" th:value="${result.iosMarketUrl}" />
                                            </div>

                                            <div class="form-group">
                                                <label>iOS Bundle ID</label>
                                                <input class="form-control" type="text" th:if="${result.iosBundleId}" name="iosBundleId" th:value="${result.iosBundleId}" />
                                                <input class="form-control" type="text" th:unless="${result.iosBundleId}" name="iosBundleId" th:value="${'es.upplication.ios' + result.childUppId}" />
                                            </div>

                                            <!-- (iOS) Mobile Screenshots -->

                                            <h4>Mobile Screenshots</h4>

                                            <div th:if="${#lists.isEmpty(result.mobileScreenshots)}" class="alert alert-warning">
                                                Mobile Screenshots not found
                                            </div>

                                            <div class="checkbox">
                                                <label><input type="checkbox" class="edit-apple-mobile-screenshots" th:attr="data-id=${result.childUppId}"/> Editar mobile screenshots? </label>
                                            </div>

                                            <div class="form-group" style="display: none;" th:id="'apple-mobile-screenshots-values-form_' + ${result.childUppId}">
                                                <div class="screenshot-block" th:unless="${#lists.isEmpty(result.mobileScreenshots)}">
                                                    <p>Max. 5: </p>

                                                    <th:block th:each="screenshot,iter : ${result.mobileScreenshots}">
                                                        Mobile <span th:text="${iter.index + 1}"></span>:
                                                        <div th:id="'view-div-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}">
                                                            <a th:id="'view-screenshot_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                               href="http://icon.me" th:href="${screenshot.url}"
                                                               target="_blank"
                                                               class="btn btn-default display-block">
                                                                Ver screenshot
                                                            </a>
                                                            <button th:id="'view-del-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                    th:attr="data-requestId=${result.id}, data-position=${iter.index + 1}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                    type="button"
                                                                    class="btn btn btn-danger delete-screenshot-btn"
                                                                    value="/market/delete-screenshot">
                                                                Delete
                                                            </button>
                                                        </div>
                                                        New one: <input th:id="'upload-input-file_' + ${result.id} + '_' + ${iter.index + 1} + '_' + ${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}" type="file" name="mobileScreenshots" />
                                                        <button th:id="'upload-screenshot-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                th:attr="data-id=${result.id}, data-position=${iter.index + 1}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                type="button"
                                                                class="btn btn-primary upload-screenshot-btn"
                                                                value="/market/upload-screenshot">
                                                            Upload
                                                        </button>
                                                    </th:block>
                                                </div>

                                                <div th:if="${#lists.size(result.mobileScreenshots) lt 5}">
                                                    <!-- each Upload, View or Delete Screenshot (Mobile) -->
                                                    <div class="screenshot-block"  th:each="index: ${#numbers.sequence(#lists.size(result.mobileScreenshots) + 1, 5)}">
                                                        <b>Mobile <span th:text="${index}"></span>: <input th:id="'upload-input-file_' + ${result.id} + '_' + ${index} + '_' + ${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}" type="file" name="mobileScreenshots" /></b>
                                                        <div th:id="'view-div-btn_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}" class="display-none">
                                                            <a th:id="'view-screenshot_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                               href="http://icon.me"
                                                               target="_blank"
                                                               class="btn btn-info display-block">
                                                                Ver screenshot
                                                            </a>
                                                            <button th:id="'view-del-btn_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                    th:attr="data-requestId=${result.id}, data-position=${index}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                    type="button"
                                                                    class="btn btn-danger delete-screenshot-btn"
                                                                    value="/market/delete-screenshot">
                                                                Borrar
                                                            </button>
                                                        </div>
                                                        <button th:id="'upload-screenshot-btn_' +${result.id}+ '_' +${index}+ '_' +${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                th:attr="data-id=${result.id}, data-position=${index}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).iphone6Plus}"
                                                                type="button"
                                                                class="btn btn-primary upload-screenshot-btn"
                                                                value="/market/upload-screenshot">
                                                            Upload
                                                        </button>
                                                    </div>
                                                    <!-- /each Upload, View or Delete Screenshot (Mobile) -->
                                                </div>

                                            </div>
                                            <!-- /(iOS) Mobile Screenshots -->

                                            <!-- (iOS) Tablet Screenshots -->

                                            <h4>Tablet Screenshots</h4>

                                            <div th:if="${#lists.isEmpty(result.tabletScreenshots)}" class="alert alert-warning">
                                                Tablet Screenshots not found
                                            </div>

                                            <div class="checkbox">
                                                <label><input type="checkbox" class="edit-apple-tablet-screenshots" th:attr="data-id=${result.childUppId}"/> Editar tablet screenshots? </label>
                                            </div>

                                            <div class="form-group" style="display: none;" th:id="'apple-tablet-screenshots-values-form_' + ${result.childUppId}">
                                                <div th:unless="${#lists.isEmpty(result.tabletScreenshots)}">
                                                    <p>Max. 5:</p>

                                                    <th:block th:each="screenshot,iter : ${result.tabletScreenshots}">
                                                        Tablet <span th:text="${iter.index + 1}"></span>:
                                                        <div th:id="'view-div-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}">
                                                            <a th:id="'view-screenshot_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                               href="http://icon.me"
                                                               th:href="${screenshot.url}"
                                                               target="_blank"
                                                               class="btn btn-default display-block">
                                                                Ver screenshot
                                                            </a>
                                                            <button th:id="'view-del-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                    th:attr="data-requestId=${result.id}, data-position=${iter.index + 1}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                    type="button"
                                                                    class="btn btn-primary delete-screenshot-btn"
                                                                    value="/market/delete-screenshot">
                                                                Borrar
                                                            </button>
                                                        </div>
                                                        New one: <input th:id="'upload-input-file_' + ${result.id} + '_' + ${iter.index + 1} + '_' + ${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                        type="file"
                                                                        name="tabletScreenshots" />
                                                        <button th:id="'upload-screenshot-btn_' +${result.id}+ '_' +${iter.index + 1}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                th:attr="data-id=${result.id}, data-position=${iter.index + 1}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                type="button"
                                                                class="btn btn-primary upload-screenshot-btn"
                                                                value="/market/upload-screenshot">
                                                            Upload
                                                        </button>
                                                    </th:block>

                                                </div>

                                                <div th:if="${#lists.size(result.tabletScreenshots) lt 5}">
                                                    <!-- each Upload, View or Delete Screenshot (Tablet) -->
                                                    <div class="screenshot-block"  th:each="index: ${#numbers.sequence(#lists.size(result.tabletScreenshots) + 1, 5)}">
                                                        <b>Tablet <span th:text="${index}"></span>: <input th:id="'upload-input-file_' + ${result.id} + '_' + ${index} + '_' + ${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}" type="file" name="tabletScreenshots" /></b>
                                                        <div th:id="'view-div-btn_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}" class="display-none">
                                                            <a th:id="'view-screenshot_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                               href="http://icon.me"
                                                               target="_blank"
                                                               class="btn btn-info display-block">
                                                                Ver screenshot
                                                            </a>
                                                            <button th:id="'view-del-btn_' +${result.id}+ '_' +${index}+ '_'+${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                    th:attr="data-requestId=${result.id}, data-position=${index}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                    type="button"
                                                                    class="btn btn-danger delete-screenshot-btn"
                                                                    value="/market/delete-screenshot">
                                                                Borrar
                                                            </button>
                                                        </div>
                                                        <button th:id="'upload-screenshot-btn_' +${result.id}+ '_' +${index}+ '_' +${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                th:attr="data-id=${result.id}, data-position=${index}, data-device=${T(es.upplication.entities.type.ScreenshotDeviceType).ipadPro}"
                                                                type="button"
                                                                class="btn btn-primary upload-screenshot-btn"
                                                                value="/market/upload-screenshot">
                                                            Upload
                                                        </button>
                                                    </div>
                                                    <!-- /each Upload, View or Delete Screenshot (Mobile) -->
                                                </div>
                                            </div>
                                            <!-- /(iOS) Tablet Screenshots -->

                                            <h4>Apple Developer Account</h4>

                                            <div th:if="${result.ownIosSign and (result.publisherIos.teamId == null or result.publisherIos.teamName == null)}" class="alert alert-warning">
                                                Esta cuenta necesita invitación. Revisa el correo de invitacion de Itunes Connect y Developer Center. <br/>
                                                Recuerda rellenar los campos teamName y teamId una vez aceptada la invitación.
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="editAppleStoreAccount" class="edit-apple-developer-check"
                                                       th:attr="data-id=${result.childUppId}" value="true" /> Editar Apple Developer Account?
                                                </label>
                                            </div>

                                            <!-- (iOS) Sign fields -->
                                            <div th:if="${result.publisherIos}" class="display-none" th:id="'apple-developer-values-form_' + ${result.childUppId}">

                                                <div class="form-group">
                                                    <label>Email*</label>
                                                    <input class="form-control" type="text" name="appleUsername" th:value="${result.publisherIos.username}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Password*</label>
                                                    <input class="form-control" type="text" name="applePassword" th:value="${result.publisherIos.password}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Team ID*</label>
                                                    <input class="form-control" type="text" name="appleTeamId" th:value="${result.publisherIos.teamId}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Team Name*</label>
                                                    <input class="form-control" type="text" name="appleTeamName" th:value="${result.publisherIos.teamName}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Company Name* </label>
                                                    <input class="form-control" type="text" name="appleCompanyName" th:value="${result.publisherIos.companyName}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Application Specific Password </label>
                                                    <input class="form-control" type="text" name="appleApplicationPassword" th:value="${result.publisherIos.applicationPassword}" />
                                                </div>

                                                <h5>Firma</h5>

                                                <div class="alert alert-warning">Cuidado con cambiar la firma una vez este publicado ese bundle ID, ya que dará error.</div>

                                                <div class="form-group">
                                                    <label>Sign Certificate</label>
                                                    <input type="file" name="appleSignCertificate" />
                                                    <input class="form-control" type="text" name="appleSignCertificateUrl" th:if="${result.publisherIos.certificateUrl != null}" th:value="${result.publisherIos.certificateUrl}" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Sign Certificate Password</label>
                                                    <input class="form-control" type="text" name="appleSignCertificatePass" th:value="${result.publisherIos.certificatePassword}" />
                                                </div>
                                                <div class="checkbox"><label><input type="checkbox" name="appleSignCertDevelopment" value="true" />  Certificado de desarrollo?</label></div>
                                                <div class="form-group">
                                                    <label>Mobile Provision</label>
                                                    <input type="file" name="appleSignMobileProvision" />
                                                    <input class="form-control" type="text" name="appleSignProvisionUrl" th:if="${result.publisherIos.provisionUrl != null}" th:value="${result.publisherIos.provisionUrl}" />
                                                </div>

                                                <h5>Push:</h5>

                                                <div class="form-group">
                                                    <label>Apple Auth Key </label>
                                                    <input class="form-control" placeholder="Auth Key Id" type="text" name="applePushAuthKeyId" th:value="${result.publisherIos.authKeyId}" />
                                                    <textarea class="form-control" placeholder="p8 Content" name="applePushAuthKeyContent" th:text="${result.publisherIos.authKeyContent}" ></textarea>
                                                </div>


                                            </div>
                                            <!-- /(iOS) Sign fields -->

                                            <!-- (iOS) Error or Success Messages -->
                                            <div class="form-group">
                                                <label>Error Message</label>
                                                <div class="alert alert-danger"
                                                     role="alert"
                                                     th:id="'error-message_' + ${result.id}"
                                                     th:if="${result.info.errorMessage}"
                                                     data-th-text="${result.info.errorMessage}">
                                                    Error
                                                </div>
                                                <div class="alert alert-success"
                                                     role="alert"
                                                     th:id="'error-message_' + ${result.id}"
                                                     th:unless="${result.info.errorMessage}">
                                                    Not error
                                                </div>
                                            </div>
                                            <!-- /(iOS) ...messages -->

                                        </div>
                                        <!-- /iOS (app store specifications) -->

                                        <!-- ANDROID (app store specifications) -->
                                        <div class="col-md-6 publish-col publish-col-android">

                                            <h3>Android <small>Google Play</small></h3>

                                            <div class="form-group">
                                                <label>Android Status Type</label>
                                                <select class="form-control" name="androidStatus" th:id="'android-status_' + ${result.id}">
                                                    <option th:each="elem: ${T(es.upplication.entities.type.StatusPublishRequest).values()}"
                                                            th:value="${elem.name()}" th:text="${elem.name()}"
                                                            th:selected="${elem == result.info.androidStatus}" value="NEW">NEW</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Android market Url</label>
                                                <input class="form-control" type="text" name="androidMarketUrl" th:value="${result.androidMarketUrl}" />
                                            </div>

                                            <div class="form-group">
                                                <label>Android Bundle</label>
                                                <input class="form-control" type="text" th:if="${result.androidBundleId}" name="androidBundleId" th:value="${result.androidBundleId}" />
                                                <input class="form-control" type="text" th:unless="${result.androidBundleId}" name="androidBundleId" th:value="${'es.upplication.android' + result.childUppId}" />
                                            </div>

                                            <!-- Android Mobile & Tablets Screenshots -->

                                            <h4>Google Play Account</h4>

                                            <div th:if="${result.ownAndroidSign and result.publisherAndroid.teamName == null}" class="alert alert-warning">
                                                Esta cuenta necesita invitación. Revisa el correo de invitacion de Google Play.<br/>
                                                Recuerda rellenar el campo teamName una vez aceptada la invitación.
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="editGooglePlayAccount" class="edit-google-play-check"
                                                           th:attr="data-id=${result.childUppId}" value="true" /> Editar Google Play Account?
                                                </label>
                                            </div>

                                            <div th:id="'google-play-values-form_' + ${result.childUppId}" style="display:none">

                                                <div class="form-group">
                                                    <label>Email*</label>
                                                    <input class="form-control" type="text" name="googleEmail" th:value="${result.publisherAndroid.email}" />
                                                </div>
                                                <div class="form-group">
                                                    <label>TeamName*</label>
                                                    <input class="form-control" type="text" name="googleTeamName" th:value="${result.publisherAndroid.teamName}" />
                                                </div>

                                                <!-- (Android) Sign fields -->

                                                <h5>Google Play Sign</h5>

                                                <div class="checkbox">
                                                    <label><input type="checkbox" name="debugAndroid" value="true" /> Debug Flag</label>
                                                </div>

                                                <div class="form-group">
                                                    <label>Key alias*</label>
                                                    <input class="form-control" type="text" name="googleSignKeyAlias" th:value="${result.publisherAndroid.signatureKeyAlias}" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Password alias*</label>
                                                    <input class="form-control" type="text" name="googleSignPasswordAlias" th:value="${result.publisherAndroid.signaturePasswordAlias}" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Password store*</label>
                                                    <input class="form-control" type="text" name="googleSignPasswordStore" th:value="${result.publisherAndroid.signaturePasswordStore}" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Store uri*</label>
                                                    <input class="form-control" type="text" name="googleSignStoreUri" th:value="${result.publisherAndroid.signatureStoreUri}" />
                                                </div>
                                                <!-- /(Android) Sign fields -->
                                            </div>

                                        </div>
                                        <!-- / android -->

                                        <!-- / right side-->

                                        <div class="clearfix"></div>

                                        <div>
                                            <h3>Cordova</h3>
                                            <div class="form-group">
                                                <label>Extra plugins</label>
                                                <input class="form-control" type="text" name="pluginsExtra" th:value="${result.info.pluginsExtra}" />
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="alert alert-danger"
                                             role="alert"
                                             th:id="'save-error_' + ${result.id}"
                                             style="display: none;">
                                            Error
                                        </div>

                                        <div class="alert alert-success"
                                             role="alert" th:id="'save-success_' + ${result.id}" style="display: none">Save success</div>

                                        <!-- Publish BUTTONS (to submit all info to markets places) -->
                                        <div class="col-md-12 center publish-all-form-in-markets">

                                            <button th:id="'btn-save_' + ${result.id}"
                                                    type="submit"
                                                    class="btn btn-success save-btn"
                                                    th:classappend="${result.info.deleteDate}? 'disabled'"
                                                    value="/market/save">
                                                Guardar
                                            </button>

                                            <button th:id="'btn-delete_' + ${result.id}"
                                                    type="button"
                                                    class="btn btn-danger delete-btn"
                                                    th:classappend="${result.info.deleteDate}? 'disabled'"
                                                    value="/market/delete">
                                                Borrar
                                            </button>
                                            <a class="btn btn-default show-default-values"
                                               th:attr="data-id=${result.childUppId}">
                                                Mostrar valores por defecto
                                            </a>
                                            <div class="default-values display-none panel-default" id="default-values-form_1337" th:id="'default-values-form_' + ${result.childUppId}">
                                                <div class="form-group">
                                                    <label>Copyright</label>
                                                    <input th:if="${result.info.copyright}" type="text" name="copyright" th:value="${result.info.copyright}" />
                                                    <input th:unless="${result.info.copyright}" type="text" name="copyright" value="Upplication 2017 Todos los derechos reservados Diseñado y producido en Madrid" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Name*</label>
                                                    <input th:if="${result.info.contactName}" type="text" name="contactName" th:value="${result.info.contactName}" />
                                                    <input th:unless="${result.info.contactName}" type="text" name="contactName" value="UPPLICATION" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Surname*</label>
                                                    <input th:if="${result.info.contactSurname}" type="text" name="contactSurname" th:value="${result.info.contactSurname}" />
                                                    <input th:unless="${result.info.contactSurname}" type="text" name="contactSurname" value="SOFTWARE TECHNOLOGIES SL" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Phone*</label>
                                                    <input th:if="${result.info.contactPhone}" type="text" name="contactPhone" th:value="${result.info.contactPhone}" />
                                                    <input th:unless="${result.info.contactPhone}" type="text" name="contactPhone" value="+34 917 958 203" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Email*</label>
                                                    <input th:if="${result.info.contactEmail}" type="text" name="contactEmail" th:value="${result.info.contactEmail}" />
                                                    <input th:unless="${result.info.contactEmail}" type="text" name="contactEmail" value="hello@upplication.io" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / Publish buttons -->

                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <!-- Pagination Bar -->
        <nav class="center">
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}? 'disabled' : ''">
                    <span th:if="${page.firstPage}">← First</span>
                    <a th:if="${not page.firstPage}"
                       th:href="@{${page.url}(page=0,size=${page.size},childUppId=${childUppId})}">← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                    <span th:if="${not page.hasPreviousPage}">«</span>
                    <a th:if="${page.hasPreviousPage}"
                       th:href="@{${page.url}(page=${page.number-1},size=${page.size},childUppId=${childUppId})}"
                       title="Go to previous page">«</a>
                </li>
                <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                    <span th:if="${item.current}"
                          th:text="${item.number + 1}">1</span>
                    <a th:if="${not item.current}"
                       th:href="@{${page.url}(page=${item.number},size=${page.size},childUppId=${childUppId})}">
                        <span th:text="${item.number + 1}">1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                    <span th:if="${not page.hasNextPage}">»</span>
                    <a th:if="${page.hasNextPage}"
                       th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size},childUppId=${childUppId})}"
                       title="Go to next page">»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                    <span th:if="${page.lastPage}">Last →</span>
                    <a th:if="${not page.lastPage}"
                       th:href="@{${page.url}(page=${page.totalPages},size=${page.size},childUppId=${childUppId})}">Last →</a>
                </li>
            </ul>
        </nav>
        <!-- / Pagination Bar -->

        <script src="../../../resources/js/market-requests.js" th:src="@{/resources/js/market-requests.js}"></script>
    </div>
    <!-- /. "markets request" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>