<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Sales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

</head>
<body class="sales">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- SALES main container -->
    <div class="container main-content-wrapper-full-width">

        <h1 class="center">Estadísticas</h1>


        <form class="form-narrow form-horizontal" action="/stats" method="get" th:action="@{/stats}">
            <fieldset>
                <legend>Search</legend>

                <div class="form-group">
                    <label for="inputStart" class="col-lg-2 control-label">Start</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputStart" placeholder="Start date" name="start" th:value="${start} ? ${#calendars.format(start,'yyyy-MM-dd')}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEnd" class="col-lg-2 control-label">End</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputEnd" placeholder="End date" name="end" th:value="${end} ? ${#calendars.format(end,'yyyy-MM-dd')}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="filterType" class="col-lg-2 control-label">Type</label>
                    <div class="col-lg-10">
                        <select  class="form-control" name="filterType" id="filterType">
                            <option th:each="elem: ${T(com.upplication.crm.stats.FilterType).values()}"
                                    th:value="${elem.name()}"
                                    th:text="${elem.name()}"
                                    th:selected="${elem == filterType}"
                                    value="ALL">
                                ALL
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info btn-block">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div th:if="${#lists.isEmpty(news) and #lists.isEmpty(downs)}" class="alert alert-warning">
            Results not found
        </div>
    </div>

    <div class="table-responsive">

        <fieldset class="center">
            <legend>Altas</legend>
        </fieldset>

        <table th:unless="${#lists.isEmpty(news)}" class="table table-bordered table-hover" width="100%">

            <div class="btn-toolbar margin-bottom-1em" role="toolbar">
                <form action="/stats/export.csv" method="post" th:action="@{/stats/export.csv}">
                    <input type="hidden" name="start" value="10/10/201"
                        th:value="${start} ? ${#calendars.format(start,'yyyy-MM-dd')}"/>
                    <input type="hidden" name="end" value="10/10/201" 
                    	th:value="${end} ? ${#calendars.format(end,'yyyy-MM-dd')}"/>
                    <input type="hidden" name="filterType" value="ALL" 
                    	th:value="${filterType}"/>
                    <input type="hidden" name="selection" value="news" />
                    <button type="submit" class="btn btn-success">Export CSV</button>
                </form>
            </div>
            
            <thead>
            <tr>
                <th>Pricing plan</th>
                <th th:each="date : ${news[0].values}" th:text="${#temporals.format(date.key,'MM/yyyy')}">
                    01/2010
                </th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${news}">
                    <td scope="row"><b th:text="${result.pricingName}">Basic</b></td>
                    <td th:each="date :  ${result.values}" th:text="${date.value}">
                        10
                    </td>
                    <td><b th:text="${result.total}">10</b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">

        <fieldset class="center">
            <legend>Bajas</legend>
        </fieldset>

        <table th:unless="${#lists.isEmpty(downs)}" class="table table-bordered table-hover" width="100%">

            <div class="btn-toolbar margin-bottom-1em" role="toolbar">
                <form action="/stats/export.csv" method="post" th:action="@{/stats/export.csv}">
                    <input type="hidden" name="start" value="10/10/201"
                        th:value="${start} ? ${#calendars.format(start,'yyyy-MM-dd')}"/>
                    <input type="hidden" name="end" value="10/10/201" 
                    	th:value="${end} ? ${#calendars.format(end,'yyyy-MM-dd')}"/>
                    <input type="hidden" name="filterType" value="ALL" 
                    	th:value="${filterType}"/>
                    <input type="hidden" name="selection" value="downs" />
                    <button type="submit" class="btn btn-success">Export CSV</button>
                </form>
            </div>
            
            <thead>
            <tr>
                <th>Pricing plan</th>
                <th th:each="date : ${downs[0].values}" th:text="${#temporals.format(date.key,'MM/yyyy')}">
                    01/2010
                </th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${downs}">
                <td scope="row"><b th:text="${result.pricingName}">Basic</b></td>
                <td th:each="date :  ${result.values}" th:text="${date.value}">
                    10
                </td>
                <td><b th:text="${result.total}">10</b></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container main-content-wrapper-full-width">

        <canvas id="chart"></canvas>

        <canvas id="chart-acc"></canvas>

        <script type="text/javascript" th:inline="javascript">

            /*<![CDATA[*/
            var dates = /*[[${#temporals.listFormat(news[0].values.keySet(), 'MM-yyyy')}]]*/ [];
            console.log(dates);
            var dataNew = /*[[${news[news.size()-1].values.values()}]]*/ [];
            console.log(dataNew);
            var dataDowns = /*[[${downs[downs.size()-1].values.values()}]]*/ [];
            console.log(dataDowns);
            /*]]>*/

            var sumNew;
            var dataNewAcc = dataNew.map(function (elem) { sumNew = (sumNew || 0) + elem; return sumNew});
            console.log(dataNewAcc);
            var sumDown;
            var dataDownsAcc = dataDowns.map(function (elem) { sumDown = (sumDown || 0) + elem; return sumDown});
            console.log(dataDownsAcc);

            var ctx = document.getElementById('chart');

            var data = {
                labels: dates,
                    datasets: [
                        {
                            label: 'Altas',
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: 'rgba(75,192,192,0.4)',
                            borderColor: 'rgba(75,192,192,1)',
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: 'rgba(75,192,192,1)',
                            pointBackgroundColor: '#fff',
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: 'rgba(75,192,192,1)',
                            pointHoverBorderColor: 'rgba(75,192,192,1)',
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: dataNew,
                            spanGaps: false,
                        },
                        {
                            label: 'Bajas',
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: 'rgba(240, 52, 52, 0.4)',
                            borderColor: 'rgba(240, 52, 52, 1)',
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: 'rgba(240, 52, 52, 1)',
                            pointBackgroundColor: '#fff',
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: 'rgba(240, 52, 52, 1)',
                            pointHoverBorderColor: 'rgba(240, 52, 52, 1)',
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: dataDowns,
                            spanGaps: false,
                        }

                ]
            };
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: data
            });


            var ctxAcc = document.getElementById('chart-acc');

            var dataAcc = {
                labels: dates,
                datasets: [
                    {
                        label: 'Altas acumuladas',
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: 'rgba(75,192,192,0.4)',
                        borderColor: 'rgba(75,192,192,1)',
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: 'rgba(75,192,192,1)',
                        pointBackgroundColor: '#fff',
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: 'rgba(75,192,192,1)',
                        pointHoverBorderColor: 'rgba(75,192,192,1)',
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: dataNewAcc,
                        spanGaps: false,
                    },
                    {
                        label: 'Bajas acumuladas',
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: 'rgba(240, 52, 52, 0.4)',
                        borderColor: 'rgba(240, 52, 52, 1)',
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: 'rgba(240, 52, 52, 1)',
                        pointBackgroundColor: '#fff',
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: 'rgba(240, 52, 52, 1)',
                        pointHoverBorderColor: 'rgba(240, 52, 52, 1)',
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: dataDownsAcc,
                        spanGaps: false,
                    }

                ]
            };
            var myLineChartAcc = new Chart(ctxAcc, {
                type: 'line',
                data: dataAcc
            });

        </script>

    </div>
    <!-- /. "sales" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>